
#footer {
	clear: both;
	height:25px;
	padding-top: 3px;
	position: fixed;
	width: 100%;
	z-index: 4;
	background: white;
	bottom: 0;

	#bottomNav {
		float: left;
		padding-left: 40px;

		ul {
			display: block;
			float: left;
			text-transform: uppercase;

			li {
				display: inline;
				margin-right: 30px;
				word-spacing: 1px;

				a {
					text-decoration: none;
					color: black;
					font-family: $body;
					font-size: 12px;
				}

				.highlighted {
					color: $bottomNav;
				}
			}
		}
	}
}

#skyline {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 3;
}

#filter-menu {
	display: none;
	background: $bottomNav;
	height: 100%;
	width: 110px;
	position: absolute;
	left: 10px;
	bottom: 25px;

	ul {
		color: white;
		font-family: $body;
		font-size: 12px;
		margin-top: 50px;

		li {
			border-top: 1px solid white;
			padding: 10px 0 10px 10px;
			@include box-sizing(border-box);

			&:last-child {
				border-bottom: 1px solid white;
			}
		}

		.selected {
			color: $bottomNavSelected;
		}
	}
}

.bottom-menu {
	display: none;
	width: 340px;
	position: absolute;
	bottom: 25px;
	left: 10px;
	background: $bottomNav;
	border: 3px solid white;
	border-bottom: none;
	@include box-sizing(border-box);
}

#about-menu{
	@extend .bottom-menu;

	p {
		padding: 20px 20px 100px 20px;
		color: white;
		font-family: $nav;
		font-size: 15px;
	}
}

#join-menu {
	@extend .bottom-menu;
	padding: 30px;
	padding-bottom: 80px;

	.disclaimer {
		font-size: 12px;
		font-family: $nav;
		color: white;
	}
}

.form-label {
	font-family: $body;
	font-size: 15px;
	color: white;
}

.submit {
	margin-top: 15px;
}

#login-menu {
	@extend .bottom-menu;
	padding: 30px;
	padding-bottom: 80px;
}
