
#footer {
	clear: both;
	height:25px;
	padding-top: 3px;
	position: fixed;
	width: 100%;
	z-index: 4;
	background: white;
	bottom: 0;

	#bottomNav {
		float: left;
		padding-left: 40px;

		ul {
			display: block;
			float: left;
			text-transform: uppercase;

			li {
				display: inline;
				margin-right: 30px;
				word-spacing: 1px;

				a {
					text-decoration: none;
					color: black;
					font-family: $footer;
					font-size: 12px;
				}
			}
		}
	}
}

#skyline {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 3;
}