#infobox {
	display: block;
	overflow: scroll;
	width: 600px;
	background: rgba(147, 204, 127, 0.69);
	position: absolute;
	left: -600px;
	top: 0;
	bottom: 0;
	z-index: 3;

	.block {
		display: block;
		position: absolute;
		cursor: pointer;
	}

	#text {
		display: block;
		position: absolute;
		top: 933px;
		width: 600px;
		padding: 20px;
		font-family: $nav;
		color: #396927;

		p:last-child {
			margin-bottom: 70px;
		}

	}

	.bottom {
		top: 704px;
		width: 300px;
		height: 228px;
		border-top: white 1px solid;
		background: black;
		opacity: .75;

		&:hover {
			-webkit-animation: fadein 0.25s;
			-webkit-animation-fill-mode: forwards;
			-moz-animation:    fadein 0.25s;
			-moz-animation-fill-mode: forwards;
			-o-animation:      fadein 0.25s;
			-o-animation-fill-mode: forwards;
			animation:         fadein 0.25s;
			animation-fill-mode: forwards;
		}
	}

	#bottomLeft {
		@extend .block;
		@extend .bottom;
		left: 0;
		border-right: white 1px solid;
	}

	#bottomRight {
		@extend .block;
		@extend .bottom;
		right: 0;
	}

	.middle {
		width: 300px;
		height: 228px;
		border-top: white 1px solid;
		top: 476px;
		opacity: .75;

		&:hover {
			-webkit-animation: fadein 0.25s;
			-webkit-animation-fill-mode: forwards;
			-moz-animation:    fadein 0.25s;
			-moz-animation-fill-mode: forwards;
			-o-animation:      fadein 0.25s;
			-o-animation-fill-mode: forwards;
			animation:         fadein 0.25s;
			animation-fill-mode: forwards;
		}
	}

	#middleLeft {
		@extend .block;
		@extend .middle;
		left: 0;
		border-right: white 1px solid;
	}

	#middleRight {
		@extend .block;
		@extend .middle;
		right: 0;
	}

	#top {
		@extend .block;
		width: 600px;
		height: 300px;
		top: 176px;
		overflow: scroll;
		font-family: $nav;
		color: #396927;
	}

	#infoTitle {
		font-family: $body;
		font-size: 24px;
		color: #396927;
		position: absolute;
		top: 54px;
		left: 25px;
	}

	#infoSubTitle {
		font-family: $nav;
		font-size: 18px;
		color: #396927;
		position: absolute;
		top: 94px;
		left: 25px;
	}

	button.close {
		padding-top: 10px;
		padding-right: 15px;
	}

}