body {
	height: 100%;
	background: none;
	background-color: gray;

	#map-canvas {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 25px;

		@media (min-device-width : 320px) and (max-device-width : 480px) {
			bottom: 0px;
		}
	}

	.container {

		#header {
			position: absolute;
			top: 50px;
			width: 100%;
			z-index: 3;
			left: 0;

			#logo-container {
				position: relative;
				left: 50%;
				margin: 0 0 20px -98px;
				height: 78px;
				width: 197px;

				#logo {
					display: block;
				}
			}

			#topNav {
				position: relative;
				width: 283px;
				margin: 0 auto;


				ul {
					overflow: hidden;

					li {
						float: left;
						margin-left: 15px;
					}
				}
			}
		}
	}
}