#logo-container-mobile {
	width: 100%;
	background: $header;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;

	#logo-mobile {
		margin: 0 auto;
		width: 125px;
		padding: 15px 0;
	}
}

#nav-mobile {
	width: 100%;
	position: absolute;
	z-index: 3;
	top: 78px;
	left: 0;
	right: 0;
	background: white;
	height: 40px;

	li {
		list-style: none;
		float: left;
		padding-left: 40px;
		padding-top: 9px;

		&:first-child {
			padding-left: 15px;
		}
	}
}

.filter-menu-mobile {
	display: none;
	position: absolute;
	top: 118px;
	left: 0;
	right: 0;
	z-index: 3;
	width: 100%;
	height: 150px;
	background-color: rgba(112, 194, 82, 0.63);

	.left {
		float: left;
		width: 100px;
		text-align: center;

		&:first-child {
			margin-left: 7px;
		}
	}

	li {
		margin: 22px 0;
	}

	a {
		font-family: $body;
		color: white;
		font-size: 12px;
		width: 100px;
	}

	li.selected a {
		color: #396927;
	}

}