.arrow {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid black;
	top: -19px;
	position: absolute;
}

.active {
	display: block !important;
}

.menu {
	display: none;
	width: 400px;
	height: 300px;
	position: absolute;
	border: solid 3px white;
}

.camera-upload {
	@extend .menu;
	background: $camera;
	left: -50px;
	top: 70px;

	.arrow {
		border-bottom: 20px solid $camera;
		left: 69px;
	}
}

.audio-upload {
	@extend .menu;
	background: $audio;
	left: -50px;
	top: 70px;

	.arrow {
		border-bottom: 20px solid $audio;
		left: 135px;
	}
}

.quote-upload {
	@extend .menu;
	background: $quote;
	left: -50px;
	top: 70px;

	.arrow {
		border-bottom: 20px solid $quote;
		left: 203px;
	}
}

.video-upload {
	@extend .menu;
	background: $video;
	left: -50px;
	top: 70px;

	.arrow {
		border-bottom: 20px solid $video;
		left: 269px;
	}
}