@font-face {
    font-family: AverageSans;
    src: url(../fonts/AverageSans-Regular.ttf);
}

@font-face {
    font-family: Intro;
    src: url(../fonts/Intro.otf);
}

// fonts
$body: Intro;
$nav: AverageSans;

// colours
$audio: #b9205b;
$camera: #13958a;
$quote: #0d8fac;
$video: #ec3912;
$bottomNav: #70c252;
$bottomNavSelected: #396927;
$header: #70c252;
