@font-face {
    font-family: AverageSans;
    src: url(../fonts/AverageSans-Regular.ttf);
}

@font-face {
    font-family: Intro;
    src: url(../fonts/Intro.otf);
}

// fonts
$footer: Intro;

// colours
$audio: #b9205b;
$camera: #13958a;
$quote: #0d8fac;
$video: #ec3912;